<!--Стили-->

<!--<link rel="stylesheet" href="style.css" type="text/css">-->
<div id="outer">
    <div class="header">
        <section class="top">
            <div class="menu_top">
                <ul class="menu">
                    <li class="menu_list"><a [routerLink] = "['/home']">Главная</a></li>
                    <li class="menu_list active"><a [routerLink]="['/category']">Категории</a>
                        <ul class="menu_drop">
                            <li><a [routerLink] = "['/toys']">Игрушки</a></li>
                            <li><a [routerLink] = "['/mobils']">Мобили</a></li>
                            <li><a [routerLink] = "['/accessory']">Аксессуары</a></li>
                            <li><a [routerLink] = "['/other']">Прочее</a></li>
                        </ul>
                    </li>
                    <li class="menu_list"><a [routerLink] = "['/aboutMe']">Обо мне</a></li>
                    <li class="menu_list"><a [routerLink] = "">Контакты</a>
                        <ul class="menu_drop">
                            <li><a [routerLink] = "['/contacts']">Адрес</a></li>
                            <li><a [routerLink] = "">Карта</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search_top">
                    <input type="search" name="q" placeholder="Поиск товара по категории">
                    <input type="submit" value="">
            </div>
        </section>
        <section class="middle">
            <div class="logo_top_2"><img src="../../../assets/images/logo SH_1-1.png" alt="логотип"></div>
        </section>
    </div>

    <div class="main">
        <div class="chapter">
            <p><a [routerLink] = "['/home']"><span>Главная</span></a> / <a [routerLink] = "['/category']"><span>Категории</span></a> / Игрушки</p>
        </div>
        <section class="products_by_category">
            <div class="bl fl1">
                <div class="image"><img src="../../../assets/images/pic1.jpg" alt=""></div>
                <div class="text">
                    <h3>Авакадо</h3>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
            <div class="bl fl2">
                <div class="image"><img src="../../../assets/images/pic10.jpg" alt=""></div>
                <div class="text">
                    <h3>Пингвин</h3>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
            <div class="bl fl3">
                <div class="image"><img src="../../../assets/images/pic3.jpg" alt=""></div>
                <div class="text">
                    <h3>Дракоша</h3>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
            <div class="bl fl4">
                <div class="image"><img src="../../../assets/images/pic7.jpg" alt=""></div>
                <div class="text">
                    <h3>Мышонок</h3>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
            <div class="bl fl5">
                <div class="image"><img src="../../../assets/images/pic8.jpg" alt=""></div>
                <div class="text">
                    <h3>Кот Рыжик</h3>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
            <div class="bl fl6">
                <div class="image"><img src="../../../assets/images/pic9.jpg" alt=""></div>
                <div class="text">
                    <h3>Мышка</h3>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
        </section>

    </div>

    <div class="footer">
        <div class="social">
            <a href="#" class="soc social-vk"></a>
            <a href="#" class="soc social-fb"></a>
            <a href="#" class="soc social-pt"></a>
            <a href="#" class="soc social-tw"></a>
            <a href="#" class="soc social-inst"></a>
        </div>
        <div>
            <p>Сайт поделок. 2017 год.</p>
        </div>
    </div>

</div>