<div id="outer">
    <div class="header">
        <section class="top">
            <div class="menu_top">
                <ul class="menu">
                    <li class="menu_list active"><a href="#">Главная</a></li>
                    <li class="menu_list"><a href="#">Категории</a>
                        <ul class="menu_drop">
                            <li><a [routerLink] = "['/toys']">Игрушки</a></li>
                            <li><a [routerLink] = "['/mobils']">Мобили</a></li>
                            <li><a href="#">Аксессуары</a></li>
                            <li><a href="#">Прочее</a></li>
                        </ul>
                    </li>
                    <li class="menu_list"><a href="#">Обо мне</a></li>
                    <li class="menu_list"><a href="#">Контакты</a>
                        <ul class="menu_drop">
                            <li><a href="#">Адрес</a></li>
                            <li><a href="#">Карта</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search_top">
                <input type="search" name="q" placeholder="Поиск товара по категории">
                <input type="submit" value="">
            </div>
        </section>
        <section class="middle">
            <div class="logo_top"><img src="../../../assets/images/logo%20SH_1-1.png" alt="логотип"></div>
        </section>
        <section class="lower">
            <div class="sl">
                <div class="sl_slide">
                    <a href="#"><img src="../../../assets/images/slide_1.png" alt="Картинка слайда1"></a>
                </div>
                <div class="sl_slide">
                    <a href="#"><img src="../../../assets/images/slide_2.png" alt="Картинка слайда2"></a>
                </div>
                <div class="sl_slide">
                    <a href="#"><img src="../../../assets/images/slide_3.png" alt="Картинка слайда3"></a>
                </div>
                <div class="sl_slide">
                    <a href="#"><img src="../../../assets/images/slide_4.png" alt="Картинка слайда4"></a>
                </div>
            </div>
            <div class="menu_second">
                <ul class="menu2">
                    <li><a href="#">Игрушки</a></li>
                    <li><a href="#">Мобили</a></li>
                    <li><a href="#">Аксессуары</a></li>
                    <li><a href="#">Прочее</a></li>
                </ul>
            </div>
        </section>
    </div>

    <div class="main">
        <section class="products">
            <div class="bl fl1">
                <div class="image"><img src="../../../assets/images/pic1.jpg" alt=""></div>
                <div class="text">
                    <h3>Авакадо</h3>
                    <p>Валяная игрушка из шерсти</p>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
            <div class="bl fl2">
                <div class="image"><img src="../../../assets/images/pic2.jpg" alt=""></div>
                <div class="text">
                    <h3>Игольница Рябина</h3>
                    <p>Валяная игольница из шерсти</p>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
            <div class="bl fl3">
                <div class="image"><img src="../../../assets/images/pic3.jpg" alt=""></div>
                <div class="text">
                    <h3>Дракоша</h3>
                    <p>Валяная игрушка из шерсти</p>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
            <div class="bl fl4">
                <div class="image"><img src="../../../assets/images/pic4.jpg" alt=""></div>
                <div class="text">
                    <h3>Браслет</h3>
                    <p>Браслет детский. Шерсть, шнур</p>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
            <div class="bl fl5">
                <div class="image"><img src="../../../assets/images/pic5.jpg" alt=""></div>
                <div class="text">
                    <h3>Пояс Пион</h3>
                    <p>Валяный пояс из шерсти</p>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
            <div class="bl fl6">
                <div class="image"><img src="../../../assets/images/pic6.jpg" alt=""></div>
                <div class="text">
                    <h3>Повязка детская Ромашки</h3>
                    <p>Повязка на голову для малышей. Фоамиран.</p>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
        </section>
    </div>

    <div class="footer">
        <!--<div class="menu_third">
            <ul class="menu3">
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="#">Категории</a></li>
                <li><a href="#">Обо мне</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>-->
        <div class="social">
            <a href="#" class="soc social-vk"></a>
            <a href="#" class="soc social-fb"></a>
            <a href="#" class="soc social-pt"></a>
            <a href="#" class="soc social-tw"></a>
            <a href="#" class="soc social-inst"></a>
        </div>
        <div>
            <p>Сайт поделок. 2017 год.</p>
        </div>
    </div>
</div>

<!--Cкрипты-->




<!--<img src="../../../assets/images/cat.jpg" >-->
