
<div id="outer">
    <div class="header">
        <section class="top">
            <div class="menu_top">
                <ul class="menu">
                    <li class="menu_list active"><a [routerLink] = "">Главная</a></li>
                    <li class="menu_list"><a [routerLink] = "['/category']">Категории</a>
                        <ul class="menu_drop">
                            <li *ngFor="let category of categories">
                                <a routerLink="/category/{{category.id}}">
                                    {{category.name}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu_list"><a [routerLink] = "['/aboutMe']">Обо мне</a></li>
                    <li class="menu_list"><a [routerLink] = "">Контакты</a>
                        <ul class="menu_drop">
                            <li><a [routerLink] = "['/contacts']">Адрес</a></li>
                            <li><a [routerLink] = "">Карта</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search_top">
                <input type="search" name="q" placeholder="Поиск товара по категории">
                <input type="submit" value="">
            </div>
        </section>
        <section class="middle">
            <div class="logo_top"><img src="../../../assets/images/logo SH_1-1.png" alt="логотип"></div>
        </section>
        <section class="lower">
            <div class="sl">
                <div class="sl_slide">
                    <a href="#"><img src="../../../assets/images/slide_1.png" alt="Картинка слайда1"></a>
                </div>
                <div class="sl_slide">
                    <a href="#"><img src="../../../assets/images/slide_2.png" alt="Картинка слайда2"></a>
                </div>
                <div class="sl_slide">
                    <a href="#"><img src="../../../assets/images/slide_3.png" alt="Картинка слайда3"></a>
                </div>
                <div class="sl_slide">
                    <a href="#"><img src="../../../assets/images/slide_4.png" alt="Картинка слайда4"></a>
                </div>
            </div>
            <div class="menu_second">
                <ul class="menu2">
                    <li *ngFor="let category of categories">
                        <a routerLink="/category/{{category.id}}">
                            {{category.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <div class="main">
        <section class="products">

            <div class="bl fl1" *ngFor="let product of products">
                <div class="image"><img width="265" height="300" src="http://localhost:8080/downloadFile/{{product.id}}" alt=""></div>
                <div class="text">
                    <h3>{{product.name}}</h3>
                    <p>{{product.shortDescr}}</p>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
        </section>
    </div>

    <div class="footer">
        <!--<div class="menu_third">
            <ul class="menu3">
                <li class="active"><a href="#">Главная</a></li>
                <li><a href="#">Категории</a></li>
                <li><a href="#">Обо мне</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>-->
        <div class="social">
            <a href="#" class="soc social-vk"></a>
            <a href="#" class="soc social-fb"></a>
            <a href="#" class="soc social-pt"></a>
            <a href="#" class="soc social-tw"></a>
            <a href="#" class="soc social-inst"></a>
        </div>
        <div>
            <p>Сайт поделок. 2017 год.</p>
        </div>
    </div>
</div>

<!--Cкрипты-->




<!--<img src="../../../assets/images/cat.jpg" >-->
