<div id="outer">
    <div class="header">
        <section class="top">
            <div class="menu_top">
                <ul class="menu">
                    <li class="menu_list"><a [routerLink] = "['/home']">Главная</a></li>
                    <li class="menu_list active"><a [routerLink]="['/category']">Категории</a>
                        <ul class="menu_drop">
                            <li *ngFor="let category of categories">
                                <a routerLink="/category/{{category.id}}">
                                    {{category.name}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu_list"><a [routerLink] = "['/aboutMe']">Обо мне</a></li>
                    <li class="menu_list"><a [routerLink] = "">Контакты</a>
                        <ul class="menu_drop">
                            <li><a [routerLink] = "['/contacts']">Адрес</a></li>
                            <li><a [routerLink] = "">Карта</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <search></search>
            <!--<div class="search_top">
                <input type="search" name="q" placeholder="Поиск товара по категории">
                <input type="submit" value="">
            </div>-->
        </section>
        <section class="middle">
            <div class="logo_top_2"><img src="../../../assets/images/logo SH_1-1.png" alt="логотип"></div>
        </section>
    </div>

    <div class="main">
        <div class="chapter">
            <p><a [routerLink] = "['/home']"><span>Главная</span></a> / <span>Категории</span> /
                <a [routerLink] = ""><span>{{categoryName}}</span></a> / </p>
        </div>
        <section class="products_by_category">
            <div class="bl">
                <div class="image"><img src="http://localhost:8080/downloadFile/{{product.id}}" alt=""></div>

                <div class="text bl1">
                    <h2>{{product.name}}</h2>
                    <h3>{{product.shortDescr}}</h3>
                    <p>{{product.descr}}</p>
                </div>
            </div>

        </section>
    </div>

    <div class="footer">
        <div class="social">
            <a href="#" class="soc social-vk"></a>
            <a href="#" class="soc social-fb"></a>
            <a href="#" class="soc social-pt"></a>
            <a href="#" class="soc social-tw"></a>
            <a href="#" class="soc social-inst"></a>
        </div>
        <div>
            <p>Сайт поделок. 2017 год.</p>
        </div>
    </div>

</div>