<div class="outer">
    <div class="header">
        <section class="top">
            <div class="menu_top">
                <ul class="menu">
                    <li class="menu_list"><a [routerLink] = "['/home']">Главная</a></li>
                    <li class="menu_list"><a href="#">Категории</a>
                        <ul class="menu_drop">
                            <li><a [routerLink] = "['/toys']">Игрушки</a></li>
                            <li><a [routerLink] = "['/mobils']">Мобили</a></li>
                            <li><a [routerLink] = "['/accessory']">Аксессуары</a></li>
                            <li><a [routerLink] = "['/other']">Прочее</a></li>
                        </ul>
                    </li>
                    <li class="menu_list active"><a [routerLink] = "">Обо мне</a></li>
                    <li class="menu_list"><a href="#">Контакты</a>
                        <ul class="menu_drop">
                            <li><a href="#">Адрес</a></li>
                            <li><a href="#">Карта</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search_top">

                    <input type="search" name="q" placeholder="Поиск товара по категории">
                    <input type="submit" value="">

            </div>
        </section>
        <section class="middle">
            <div class="logo_top_2"><img src="../../../assets/images/logo SH_1-1.png" alt="логотип"></div>
        </section>

    </div>

    <div class="main">
        <div class="chapter">
            <p><a href="#"><span>Главная</span></a> / Обо мне</p>
        </div>
        <section class="inf">
            <h3>Обо мне</h3>
            <p>Вдохновение подобно большому взрыву. Даже если открытие важно только для творящего.<br>
                Все мы разные, и условия, в которых мы творим – тоже. <br>
                Не бойтесь делать перерывы, это необходимо для нашего мозга, чтобы оотдохнул, набрался новых
                впечатлений: ходите в музеи, смотрите фильмы, начните рисовать или танцевать, обогащайте свой внутренний
                мир. Замечайте новое каждый день, например, по пути на работу или магазин находите детали, которые вы не
                замечали: покрасили дом, а тут на углу кот сидел, а здесь дерево спилили. Тренируйте внимание к деталям.
                <br>
                В любом возрасте человек открыт творчеству, и развить своспособности никогда не поздно. Да, считается,
                что в детском возрасте шансы развить по максимуму свои способности выше. Но у взрослого человека есть
                жизненный опыт и целенаправленное желание расти дальше, а это, поверьте, немаловажно.</p>
        </section>
    </div>

    <div class="footer_1">
        <div class="social">
            <a href="#" class="soc social-vk"></a>
            <a href="#" class="soc social-fb"></a>
            <a href="#" class="soc social-pt"></a>
            <a href="#" class="soc social-tw"></a>
            <a href="#" class="soc social-inst"></a>
        </div>
        <div>
            <p>Сайт поделок. 2017 год.</p>
        </div>
    </div>
</div>