<div class="outer">
    <div class="header">
        <section class="top">
            <div class="menu_top">
                <ul class="menu">
                    <li class="menu_list"><a href="#">Главная</a></li>
                    <li class="menu_list active"><a href="#">Категории</a>
                        <ul class="menu_drop">
                            <li><a href="#">Игрушки</a></li>
                            <li><a href="#">Мобили</a></li>
                            <li><a href="#">Аксессуары</a></li>
                            <li><a href="#">Прочее</a></li>
                        </ul>
                    </li>
                    <li class="menu_list"><a href="#">Обо мне</a></li>
                    <li class="menu_list"><a href="#">Контакты</a>
                        <ul class="menu_drop">
                            <li><a href="#">Адрес</a></li>
                            <li><a href="#">Карта</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search_top">
                <input type="search" name="q" placeholder="Поиск товара по категории">
                <input type="submit" value="">
            </div>
        </section>
        <section class="middle">
            <div class="logo_top_2"><img src="../../../assets/images/logo SH_1-1.png" alt="логотип"></div>
        </section>
    </div>
    <div class="main">
        <div class="chapter">
            <p><a href="#"><span>Главная</span></a> / <a href="#"><span>Категории</span></a> / Аксессуары</p>
        </div>
        <section class="products_by_category">
            <div class="bl fl1">
                <div class="image"><img src="../../../assets/images/pic15.jpg" alt=""></div>
                <div class="text">
                    <h3>Браслет</h3>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
            <div class="bl fl2">
                <div class="image"><img src="../../../assets/images/pic4.jpg" alt=""></div>
                <div class="text">
                    <h3>Пояс Пион</h3>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
            <div class="bl fl3">
                <div class="image"><img src="../../../assets/images/pic5.jpg" alt=""></div>
                <div class="text">
                    <h3>Повязка Ромашки</h3>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
            <div class="bl fl4">
                <div class="image"><img src="../../../assets/images/pic6.jpg" alt=""></div>
                <div class="text">
                    <h3>...</h3>
                    <a href="#" class="button">Смотреть...</a>
                </div>
            </div>
        </section>
    </div>
    <div class="footer">
        <div class="social">
            <a href="#" class="soc social-vk"></a>
            <a href="#" class="soc social-fb"></a>
            <a href="#" class="soc social-pt"></a>
            <a href="#" class="soc social-tw"></a>
            <a href="#" class="soc social-inst"></a>
        </div>
        <div>
            <p>Сайт поделок. 2017 год.</p>
        </div>
    </div>
</div>
