<div id="outer">
    <div class="header">
        <section class="top">
            <div class="menu_top">
                <ul class="menu">
                    <li class="menu_list"><a [routerLink] = "['/home']">Главная</a></li>
                    <li class="menu_list"><a [routerLink] = "">Категории</a>
                        <ul class="menu_drop">
                            <li><a [routerLink] = "['/toys']">Игрушки</a></li>
                            <li><a [routerLink] = "['/mobils']">Мобили</a></li>
                            <li><a [routerLink] = "['/accessory']">Аксессуары</a></li>
                            <li><a [routerLink] = "['/other']">Прочее</a></li>
                        </ul>
                    </li>
                    <li class="menu_list"><a [routerLink] = "['/aboutMe']">Обо мне</a></li>
                    <li class="menu_list active"><a [routerLink] = "">Контакты</a>
                        <ul class="menu_drop">
                            <li><a [routerLink] = "['/contacts']">Адрес</a></li>
                            <li><a [routerLink] = "">Карта</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search_top">

                <input type="search" name="q" placeholder="Поиск товара по категории">
                <input type="submit" value="">

            </div>
        </section>
        <section class="middle">
            <div class="logo_top_2"><img src="../../../assets/images/logo SH_1-1.png" alt="логотип"></div>
        </section>
    </div>
    <div class="main">
        <div class="chapter">
            <p><a [routerLink] = "['/contacts']"><span>Контакты</span></a> / Адрес</p>
        </div>
        <section class="contacts">
            <div class="inf tel">
                <h3>Контакты</h3>
                <p>Все мои поделки создаются в г. Караганда, Казахстан.<br>Вы можете связаться со мной по телефону:<br>
                    +7(701)123 45 67</p>
                <p>Или воспользоваться формой обратной связи</p>
            </div>
            <div class="inf feedback">
                <div id="inline">
                    <h3>Связаться со мной</h3>

                        <input id="name" class="txt" name="name" type="name" placeholder="Ваше имя"/>
                        <input id="phone" class="txt" name="phone" type="phone" placeholder="Ваш телефон"/>
                        <input id="email" class="txt" name="email" type="email" placeholder="Ваш e-mail"/>
                        <textarea id="msg" class="txtarea" name="msg" placeholder="Ваше сообщение:"></textarea>
                        <button class="button">Отправить</button>

                </div>
            </div>
        </section>
    </div>
    <div class="footer_1">
        <div class="social">
            <a href="#" class="soc social-vk"></a>
            <a href="#" class="soc social-fb"></a>
            <a href="#" class="soc social-pt"></a>
            <a href="#" class="soc social-tw"></a>
            <a href="#" class="soc social-inst"></a>
        </div>
        <div>
            <p>Сайт поделок. 2017 год.</p>
        </div>
    </div>
</div>